# project idx
.idx/

# ============ FrontEnd ============

frontend/.next
frontend/.vscode
frontend/node_modules
frontend/.env
frontend/docs

# ============= Python =============

/venv/
/env/
/virtualenv/
/.venv/
__pycache__/
media
*.pyc
*.pyo
*.pyd

db.sqlite3
*.sqlite3

# ============== order ==============

# 혹시나 모를 위험 방지
.env
.venv/
venv/
env/

# IDE 및 에디터 설정 파일
.idea/
.vscode/
*.swp

# macOS 시스템 파일
.DS_Store

# AI
GEMINI.md