# Django & API
django
djangorestframework

# CORS
django-cors-headers

# AI & Image
torch
diffusers
transformers
safetensors
sentencepiece
Pillow
sacremoses

# 클라우드 플레어 R2 스토리지 관련
boto3

# Environment
python-dotenv