/* All Device */

/* Mobile */
@keyframes scroll-up {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(12px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(0);
  }
}

/* Desktop */
@keyframes scroll-down {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(12px);
  }
}

/* Custom, iPhone Retina : 320px ~ */
@media only screen and (min-width: 320px) and (max-width: 991px) {
  .scroll_indicator {
    width: 24px;
    height: 40px;
    border: 2px solid white;
    position: relative;
    border-radius: 5px;
  }

  .scroll_indicator::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 8px;
    background: white;
    border-radius: 2px;
  }

  .scroll_indicator::before {
    animation: scroll-up 1.2s infinite;
  }

  .scroll_mobile {
    display: block !important;
    font-weight: 300;
  }
}

/* Desktop 이상 */
@media only screen and (min-width: 992px) {
  .scroll_indicator {
    width: 28px;
    height: 40px;
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  }

  .scroll_indicator::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 8px;
    background: white;
    border-radius: 2px;
  }

  .scroll_indicator::before {
    animation: scroll-down 1.2s infinite;
  }

  .scroll_desktop {
    display: block !important;
    font-weight: 300;
  }

  .scroll_mobile {
    display: none !important;
  }
}

/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {
  .scroll_indicator::before {
    animation: scroll-down 1.2s infinite;
  }
}

.container {
  position: relative;
  padding: 0 20px;

  background-image: url("https://cdn.imweb.me/thumbnail/20250204/e2a9b186be915.png");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-weight: 500;
  font-family: "Gowun Batang", serif;
}

.title {
  font-size: 2.5rem;
  color: white;
  padding-bottom: 1rem;
}

.sub_title {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 2.5rem;
}

.responsive_text {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.scroll_desktop,
.scroll_mobile {
  display: none;
  font-family: var(--font-roboto), sans-serif;
}
