/* All Device */

/* Custom, iPhone Retina : 320px ~ */
@media only screen and (min-width: 320px) {
}
/* Extra Small Devices, Phones : 480px ~ */
@media only screen and (min-width: 480px) {
}
/* Small Devices, Tablets : 768px ~ */
@media only screen and (min-width: 768px) {
  .container {
    display: none;
  }
}
/* Medium Devices, Desktops : 992px ~ */
@media only screen and (min-width: 992px) {
}
/* Large Devices, Wide Screens : 1200px ~ */
@media only screen and (min-width: 1200px) {
}

.container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 4rem;
  border-bottom: 1px solid #ccc;
  z-index: 1301;
  background-color: white;
}

.leftSection,
.rightSection {
  display: flex;
  align-items: center;
  width: 3.75rem;
  justify-content: center;
}

.centerSection {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.logoImage {
  width: 36px;
  height: 36px;
}

.logoText {
  font-size: 1.5rem;
}

.menuIcon {
  font-size: 1.75rem;
  cursor: pointer;
}

.Icon {
  font-size: 1.75rem;
  color: black;
}

.Drawer_Icon {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  gap: 0.5rem;
}
