.container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 4rem;
  border-bottom: 1px solid #ccc;
  z-index: 1301;
  background-color: white;
}

.leftSection,
.rightSection {
  display: flex;
  align-items: center;
  width: 3.75rem;
  justify-content: center;
}

.iconButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.centerSection {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 1.75rem;
  vertical-align: middle;
}

.stepIcon {
  margin-right: 0.5rem;
  position: relative;
  top: 2.5px;
}

.title {
  font-size: 1.25rem;
}

.titleButton {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.titleButton:disabled {
  color: #9ca3af;
  cursor: not-allowed;
}
